{% extends 'base.html' %}

{% load static %}
{% block title %} Edit Comment {% endblock  %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css'%}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}



{% block content %}
<div class="mt-4">
  <form method="post">
    {% csrf_token %}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
</div>
{%endblock %}
