{% extends 'base.html' %}
{%load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/post_details.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}


{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-5 mt-5">
        <div class="card border-dark">
          <div class="card-body">
            <img src="{{post_cari.picture.url}}" alt="" class="card-img">
          </div>
        </div>
        <a href="{% url 'template_pdf' post_cari.pk %}"><i class="far fa-file-pdf icon icon-templates" alt="templates"></i></a>
        <a href="https://plus.google.com/share?url={{ request.build_absolute_url }}"><i class="fab fa-google-plus-square icon icon-google"></i></a>
        <a href="https://twitter.com/home?status={{ request.build_absolute_url }}"> <i class="fab fa-twitter-square icon icon-twitter"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_url }}" ><i class="fab fa-facebook-square icon icon-facebook"></i> </a>
        </div>
        <div class="col-lg-5 mt-5">
          <table class="table">
            <tbody>
              <tr>
                <th>Nama : <span class="ml-2"> {{post_cari.name|upper}}</span> </th>
              </tr>
              <tr>
                <th>Umur : <span class="ml-2"> {{post_cari.umur}}</span> </th>
              </tr>
              <tr>
                <th>Tinggi :<span class="ml-2"> {{post_cari.tinggi}} cm</span> </th>
              </tr>
              <tr>
                <th>Berat :<span class="ml-2"> {{post_cari.berat}} kg</span></th>
              </tr>
              <tr>
                <th>Gender :<span class="ml-2"> {{post_cari.gender}}</span> </th>
              </tr>
              <tr>
                <th>Lokasi Hilang :<span class="ml-2"> {{post_cari.lokasi_hilang}}</span> </th>
              </tr>
              <tr>
                <th>Ciri-ciri : <span class="ml-2"> {{post_cari.ciri|upper}}</span></th>
              </tr>
              <tr>
                <th>Hadiah :<span class="ml-2"> {{post_cari.reward}}</span> </th>
              </tr>
              <tr>
                <th>Hubungi :<span class="ml-2"> {{post_cari.phone_number}}</span></th>
              </tr>
              <tr>
                <th>Deskripsi :<span class="ml-2"> {{post_cari.desc }} </span></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div class="mt-5 ml-3">
  <a href="{% url 'reply_comment' post_cari.pk %}" class="btn btn-primary" role="button">Reply</a>
</div>

<div class="card mt-5 border-dark mb-4">
  {% for details in post_cari.details.all %}
  <div class="card-header text-white border-white bg-dark">
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-9">
        <h5 class="card-title">{{ details.created_by }}</h5>
        <hr class="bg-dark">
        <p class="card-text"> {{ details.get_message_as_markdown}} </p>
      </div>
      <div class="col-3">
        <p>{{ details.created_at}}</p>
        <hr class="bg-dark">
      </div>
    </div>
    {%if details.created_by == user %}
      <a href="{% url 'edit_details' details.pk post_cari.pk %}" class="btn btn-success" role="button"> Edit </a>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
